{% extends 'layout/admin_layout.html' %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header text-center" style="background-color: rgb(7, 88, 117); color: white;">
                    Add Accomodation
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.flight_name_res.label(for="flight_name_res") }}
                                    {% if form.flight_name_res.errors %}
                                        {{ form.flight_name_res(class="form-control is-invalid", id="flight_name_res", placeholder="Flight Company Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.flight_name_res.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.flight_name_res(class="form-control", id="flight_name_res", placeholder="Flight Company Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.flight_number.label(for="flight_number") }}
                                    {% if form.flight_number.errors %}
                                        {{ form.flight_number(class="form-control is-invalid", id="flight_number", placeholder="Flight Number") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.flight_number.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.flight_number(class="form-control", id="flight_number", placeholder="Flight Number") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.departure_date.label(for="departure_date") }}
                                        {% if form.departure_date.errors %}
                                            {{ form.departure_date(class="form-control is-invalid", id="departure_date", placeholder="departure_date ", type="date") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.departure_date.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.departure_date(class="form-control", id="departure_date", placeholder="departure_date", type="date") }}
                                        {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.arrival_date.label(for="arrival_date") }}
                                        {% if form.arrival_date.errors %}
                                            {{ form.arrival_date(class="form-control is-invalid", id="arrival_date", placeholder="departure_date", type="date") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.arrival_date.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.arrival_date(class="form-control", id="arrival_date", placeholder="arrival_date", type="date") }}
                                        {% endif %}
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.departure_time.label(for="departure_time") }}
                                        {% if form.departure_time.errors %}
                                            {{ form.departure_time(class="form-control is-invalid", id="departure_time", placeholder="departure_time ", type="time") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.departure_time.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.departure_time(class="form-control", id="departure_time", placeholder="departure_time", type="time") }}
                                        {% endif %}
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.arrival_time.label(for="arrival_time") }}
                                        {% if form.arrival_time.errors %}
                                            {{ form.arrival_time(class="form-control is-invalid", id="arrival_time", placeholder="arrival_time", type="time") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.arrival_time.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.arrival_time(class="form-control", id="arrival_time", placeholder="arrival_time", type="time") }}
                                        {% endif %}
                                </div>
                            </div>



                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.number_of_seats.label(for="number_of_seats") }}
                                    {% if form.number_of_seats.errors %}
                                        {{ form.number_of_seats(class="form-control is-invalid", id="number_of_seats", placeholder="Number Of Seats") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.number_of_seats.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.number_of_seats(class="form-control", id="number_of_seats", placeholder="Number Of Seats") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.source.label(for="source") }}
                                    {% if form.source.errors %}
                                        {{ form.source(class="form-control is-invalid", id="source", placeholder="Source") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.source.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.source(class="form-control", id="source", placeholder="Source") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.destination.label(for="destination") }}
                                    {% if form.destination.errors %}
                                        {{ form.destination(class="form-control is-invalid", id="destination", placeholder="Destination") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.destination.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.destination(class="form-control", id="destination", placeholder="Destination") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.vacant_seats.label(for="vacant_seats") }}
                                    {% if form.vacant_seats.errors %}
                                        {{ form.vacant_seats(class="form-control is-invalid", id="vacant_seats") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.vacant_seats.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.vacant_seats(class="form-control", id="vacant_seats") }}
                                    {% endif %}
                                </div>
                            </div>

  
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-success btn-block mx-auto") }}
                        </div>

                    </form>
                </div>
            </div>
           

            <br><br><br>
            <div class="card">
                <div class="row justify-content-center">
            
                    <div class="card-header text-center" style="background-color: rgb(7, 88, 117); color: white;">
                        Already Present Flights
                    </div>
                    
                    <h3 class="">
                </div>
            
                <div class="row justify-content-center">
                    {% if items is not none %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Flight Name</th>
                                <th>international</th>
                                <th>Domestic</th>
                                
                            </tr>
                            </thead>
                            {% for item in items %}
                                <tbody>
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.flight_name}}</td>
                                        <td>{{item.international}}</td>
                                        <td>{{item.domestic}}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                    </table>
                    {% else %}
                        <span> No Data Found</span>
                    {% endif %}
                </div>
            </div>



            <br><br><br>
            <div class="card">
                <div class="row justify-content-center">

                    <div class="card-header text-center" style="background-color: rgb(7, 88, 117); color: white;">
                        Already Present Places
                    </div>
                    
                    <!-- <h2 class="">
                        <span> Already Present Places</span>
                    </h3> -->
                    <h3 class="">
                </div>
                <div class="row justify-content-center">
                    {% if place is not none %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Code</th>
                                
                            </tr>
                            </thead>
                            {% for item in place %}
                                <tbody>
                                    <tr>
                                        <td>{{item.place}}</td>
                                        <td>{{item.code}}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                    </table>
                    {% else %}
                        <span> No Data Found</span>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}