{% extends 'layout/admin_layout.html' %}
{% block content %}

<div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="profile-nav col-md-3">
          <div class="panel">
              <div class="user-heading round">
                  <a href="#">
                      <img src="../../static/img/profile.webp" alt="">
                  </a>
                  <h1>Sahil Kotian</h1>
                  <p>skotian@iu.edu</p>
              </div>
    
              <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
              </ul>
          </div>
      </div>
      <div class="profile-info col-md-9">
          <div class="panel">
              <div class="bio-graph-heading">
                  Admin profile
              </div>
              <div class="panel-body bio-graph-info">
                  <h1>Bio Graph</h1>
                  <div class="row">
                      <div class="bio-row">
                          <p><span>Name </span>: Sahil</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Username </span>: heelsahil</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Employee Id </span>: P5372828</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Email </span>: skotian@iu.edu</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Mobile Number</span>: (987)-654-3210</p>
                      </div>
                      <div class="bio-row">
                        <p><span>Password</span>: **********</p>
                    </div>
                  </div>
              </div>
          </div>
          
      </div>
    </div>
    </div>
{% endblock content %}