<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>user profile bio graph and total sales - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename = 'css/profile.css') }}" rel="stylesheet">
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="../../static/img/profile.webp" alt="">
              </a>
              <h1>Sahil Kotian</h1>
              <p>skotian@iu.edu</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
              <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="bio-graph-heading">
              Manage your profile
          </div>
          <div class="panel-body bio-graph-info">
              <h1>Bio Graph</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>First Name </span>:  Sahil</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Last Name </span>:  Kotian</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Phone Number </span>:  (987)-654-3210</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Date of Birth</span>:  4 July 1999</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Gender </span>:  Male</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Username </span>:  heelsahil</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Email </span>:  skotian@iu.edu</p>
                  </div>
                  <div class="bio-row">
                    <p><span>Password </span>:  **********</p>
                </div>
              </div>
          </div>
      </div>
      
  </div>
</div>
</div>
</body>
</html>
